<ul class="p-0 m-0 d-flex flex-lg-column justify-content-evenly">
  <li id="li" routerLink="/home" routerLinkActive="active">
    <i class="bi bi-house-door-fill"></i>
    <h2 class="text-uppercase">home</h2>
  </li>
  <li id="li" routerLink="/about" routerLinkActive="active">
    <i class="bi bi-person-fill"></i>
    <h2 class="text-uppercase">about</h2>
  </li>
  <li id="li" routerLink="/portfolio" routerLinkActive="active">
    <i class="bi bi-briefcase-fill"></i>
    <h2 class="text-uppercase">portfolio</h2>
  </li>
  <li id="li" routerLink="/contact-us" routerLinkActive="active">
    <i class="bi bi-envelope-open-fill"></i>
    <h2 class="text-uppercase">contact</h2>
  </li>
</ul>
