<section class="about">
  <div
    class="title text-uppercase text-start text-sm-center d-flex justify-content-center align-items-center gap-4"
  >
    <h1>about</h1>
    <span class="me">me</span>
    <span class="title-bg">Resume</span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="head">
          <h3 class="text-uppercase mb-0">personal infos</h3>
        </div>
        <div class="body">
          <div class="col-12 d-flex gap-5">
            <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
              <li>
                <span class="titles text-capitalize">first name: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >sameh</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">last name: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >soliman</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">age: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >26 years</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">nationality: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >egyption</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">freelance: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block green"
                  >Available</span
                >
              </li>
            </ul>
            <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
              <li>
                <span class="titles text-capitalize">adress: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >87 elgazaer street, el-manshia, alexandria</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">phone: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >01287503160</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">email: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >elma7y1996@gmail.com</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">github: </span>
                <span
                  class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >https://github.com/elma7y</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">languages: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >arabic, english</span
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="foot">
          <button>
            <span class="button-text text-uppercase">download cv</span>
            <span class="button-icon bi bi-download"></span>
          </button>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>
