<section class="about">
  <div
    class="title text-uppercase text-start text-sm-center d-flex justify-content-start justify-content-lg-center justify-content-md-center align-items-center gap-4"
  >
    <h1>about</h1>
    <span class="me">me</span>
    <span class="title-bg">Resume</span>
  </div>
  <div class="container pb-5">
    <div class="col-12 d-block d-sm-none">
      <img
        class="img-fluid d-sm-block d-lg-none mobile-img"
        src="assets/images/70381396_2451827838245673_8860728676535238656_n.png"
        alt="profile"
      />
    </div>
    <div class="row gap-5 gap-lg-0">
      <div class="col-lg-6">
        <div class="head">
          <h3 class="text-uppercase mb-0">personal infos</h3>
        </div>
        <div class="body">
          <div class="col-12 d-flex gap-5">
            <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
              <li>
                <span class="titles text-capitalize">first name: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >sameh</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">last name: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >soliman</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">age: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >29 years</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">nationality: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >egyption</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">freelance: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block green"
                  >Available</span
                >
              </li>
            </ul>
            <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
              <li>
                <span class="titles text-capitalize">adress: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >87 elgazaer street, el-manshia, alexandria</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">phone: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >01287503160</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">email: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >sameh.frontend@gmail.com</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">github: </span>
                <span
                  class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >https://github.com/elma7y</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">languages: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >arabic, english</span
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="foot">
          <a
            href="https://drive.usercontent.google.com/u/0/uc?id=1qE9hQKHIz8w08-WvpT4lss5IpSL0VAmT&export=download"
          >
            <span class="button-text text-uppercase">download cv</span>
            <span class="button-icon bi bi-download"></span>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row gap-3 justify-content-center">
          <div class="col-6 d-flex justify-content-center box1">
            <div class="box">
              <h3 class="num">3</h3>
              <p class="years text-uppercase">
                years of <span class="d-block">experience</span>
              </p>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center box1">
            <div class="box">
              <h3 class="num">20</h3>
              <p class="years text-uppercase">
                completed <span class="d-block">projects</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="seprator" />
    <div class="row">
      <div class="col-12">
        <h3
          class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-start text-sm-center custom-title ft-wt-600"
        >
          my skills
        </h3>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p85">
          <span>85%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">html</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p85">
          <span>85%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">css</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p85">
          <span>85%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">javascript</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p85">
          <span>85%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">typescript</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p90">
          <span>90%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">angular</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p95">
          <span>95%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">bootstrap</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p75">
          <span>75%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">sass</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p90">
          <span>90%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">git&github</h6>
      </div>
    </div>
    <hr class="seprator mt-1" />
    <div class="row">
      <div class="col-12">
        <h3
          class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-start text-sm-center custom-title ft-wt-600"
        >
          education <span>&</span> experience
        </h3>
      </div>
      <div class="col-lg-6">
        <div class="resume-box">
          <ul>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">2023-present</span>
              <h5 class="text-uppercase">frontend-development(Angular)</h5>

              <p class="text-capitalize">
                GeekyAir => <br />
                --Front-end development: Developed and maintained the company’s
                web application using Angular and Angular Universal to achieve
                SSR, resulting in a 30% increase in user engagement.<br />
                --Collaboration: Collaborated with the design team to ensure a
                seamless user interface and user experience. <br />
                --Communication: Worked closely with the backend development
                team to ensure seamless communication between the frontend and
                backend systems. <br />
                --Air Table Scripting: Utilized Eventbrite API to fetch event
                data into Air Table and create databases, resulting in a more
                streamlined and efficient data management system.
                <br />
                --Zapier Automation: Integrated Zapier with Air Table and Salla
                to automate processes and improve productivity. <br />
                --Deployment: Deployed Angular Frontend apps on Hostinger and
                Angular(SSR) apps on AWS VPS
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">2015-2020</span>
              <h5 class="text-uppercase">
                electronics & commuications enginneering @ alexandria higher
                institute of engineering and technology
              </h5>
              <p class="text-capitalize">
                bachelor degree in electronics & commuications enginneering.
              </p>
            </li>

            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">2022-2023</span>
              <h5 class="text-uppercase">frontend-development(angular)</h5>
              <p class="text-capitalize">
                self study (online courses) =><br />
                --elzero web school. <br />--angular army. <br />--Angular - The
                Complete Guide (2023 Edition) by Maximilian.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">1/2019-2/2019</span>
              <h5 class="text-uppercase">intenship student</h5>
              <p class="text-capitalize">
                alexandria electricity distribution company =><br />--studied
                the maintenance of electronics components.
                <br />
                --practice on air soldering.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">8/2019-9/2019</span>
              <h5 class="text-uppercase">intenship student</h5>
              <p class="text-capitalize">
                alexandria shipyard company =><br />--studied the idea of
                working of cranes & how plc control its working. <br />--studied
                the electrical distribution of the ships. <br />
                --studied the means of communication between the ships.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="resume-box">
          <ul>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">11/2023-present</span>
              <h5 class="text-uppercase">Searchmymaps.com</h5>
              <p class="text-capitalize">
                --Angular 17 (SSR) Integration: Developed using Angular 17 with
                Server-Side Rendering for enhanced performance. <br />
                --AWS Deployment: Hosted on Amazon Web Services (AWS) for
                scalability and reliability.<br />
                --Google Maps Integration: Integrated Google Maps API for
                interactive mapping functionalities. <br />--Google
                Geo-Location: Utilized Google's Geo-Location services for
                accurate user positioning.<br />
                --Advanced Filtering: Implemented a robust filtering system for
                precise search results. <br />--User-Friendly Interface:
                Designed an intuitive interface for seamless navigation.<br />
                --Scalable Architecture: Built with scalability in mind to
                accommodate future growth. --Performance Optimization: Optimized
                for fast loading times and responsiveness. <br />--CI/CD
                Implementation: Automated testing, build, and deployment
                processes for efficiency.<br />
                --Security Measures: Ensured data privacy and protection through
                encryption and secure authentication.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">11/2023-present</span>
              <h5 class="text-uppercase">Zenup Dashboard</h5>
              <p class="text-capitalize">
                --Angular 16 Implementation: Developed using Angular 16
                framework for robust front-end capabilities.
                <br />--Authentication & Authorization: Ensured secure access
                with implemented authentication and authorization features.
                <br />--Mobile App Integration: Tailored the dashboard for
                seamless integration with a mobile application. <br />
                --Category-Based Audio Updates: Enabled users to update audios
                across six categories for enhanced organization. <br />--User
                Status Monitoring: Provided real-time monitoring of user status
                for efficient management. <br />
                --Analytics Integration: Integrated analytics tools to offer
                insights into user behavior and dashboard usage. <br />
                --Profit Tracking: Implemented profit tracking functionalities
                for monitoring financial performance.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">6/2023-present</span>
              <h5 class="text-uppercase">Jamfulapp.com</h5>
              <p class="text-capitalize">
                --Angular 16 Development: Built using Angular 16 framework for
                dynamic front-end functionalities.
                <br />--Hostinger Hosting: Hosted on Hostinger for reliable
                accessibility and performance. <br />--Kakao Maps Integration:
                Integrated Kakao Maps API for mapping and location-based
                services. <br />--Angular Full-Calendar Implementation:
                Implemented Angular Full-Calendar for scheduling and event
                management. <br />--Robust Booking Mechanism: Facilitated
                reservations and appointments with a comprehensive booking
                system. <br />--Secure Authentication & Authorization: Ensured
                secure access control with implemented authentication and
                authorization. <br />--Cookie-Pay Payment Integration:
                Integrated Cookie-Pay payment system for secure transactions.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">8/2023-10/2023</span>
              <h5 class="text-uppercase">re-bamp.vercel.app.com</h5>
              <p class="text-capitalize">
                --Angular 16 Development: Leveraged the robust features of
                Angular 16 framework to create a dynamic, responsive, and
                user-friendly website interface.
                <br />--Authentication & Authorization: Implemented
                comprehensive authentication and authorization protocols to
                ensure secure access to the platform, safeguarding user data and
                privacy. <br />--Image Upload Platform with AI Integration:
                Engineered an intuitive image upload platform that seamlessly
                integrates cutting-edge AI technology, empowering users to
                enhance and personalize their images effortlessly.
                <br />--Provided users with advanced AI-driven tools for
                modifying and refining uploaded images, enhancing their
                creativity and expression. <br />--Bamp Coin Usage via Stripe
                Integration: Introduced a unique digital currency system, Bamp
                coins, as a medium for transactions within the platform.
                <br />--Integrated Stripe payment gateway for secure and
                efficient handling of Bamp coin transactions, offering users a
                seamless and reliable payment experience.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
