<section class="about">
  <div
    class="title text-uppercase text-start text-sm-center d-flex justify-content-start justify-content-lg-center justify-content-md-center align-items-center gap-4"
  >
    <h1>about</h1>
    <span class="me">me</span>
    <span class="title-bg">Resume</span>
  </div>
  <div class="container pb-5">
    <div class="col-12 d-block d-sm-none">
      <img
        class="img-fluid d-sm-block d-lg-none mobile-img"
        src="assets/images/70381396_2451827838245673_8860728676535238656_n.png"
        alt="profile"
      />
    </div>
    <div class="row gap-5 gap-lg-0">
      <div class="col-lg-6">
        <div class="head">
          <h3 class="text-uppercase mb-0">personal infos</h3>
        </div>
        <div class="body">
          <div class="col-12 d-flex gap-5">
            <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
              <li>
                <span class="titles text-capitalize">first name: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >sameh</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">last name: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >soliman</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">age: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >26 years</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">nationality: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >egyption</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">freelance: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block green"
                  >Available</span
                >
              </li>
            </ul>
            <ul class="about-list list-unstyled d-flex flex-wrap flex-column">
              <li>
                <span class="titles text-capitalize">adress: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >87 elgazaer street, el-manshia, alexandria</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">phone: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >01287503160</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">email: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >sameh.frontend@gmail.com</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">github: </span>
                <span
                  class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >https://github.com/elma7y</span
                >
              </li>
              <li>
                <span class="titles text-capitalize">languages: </span>
                <span
                  class="value text-capitalize d-block d-sm-inline-block d-lg-block d-xl-inline-block"
                  >arabic, english</span
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="foot">
          <a
            href="https://drive.google.com/u/0/uc?id=1mlfoPoEsS1SL2bohQrvgdBAKEbUGAF6J&export=download"
          >
            <span class="button-text text-uppercase">download cv</span>
            <span class="button-icon bi bi-download"></span>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row gap-3 justify-content-center">
          <div class="col-6 d-flex justify-content-center box1">
            <div class="box">
              <h3 class="num">1</h3>
              <p class="years text-uppercase">
                years of <span class="d-block">experience</span>
              </p>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center box1">
            <div class="box">
              <h3 class="num">13</h3>
              <p class="years text-uppercase">
                completed <span class="d-block">projects</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="seprator" />
    <div class="row">
      <div class="col-12">
        <h3
          class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-start text-sm-center custom-title ft-wt-600"
        >
          my skills
        </h3>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p85">
          <span>85%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">html</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p80">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">css</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p75">
          <span>75%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">javascript</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p75">
          <span>75%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">typescript</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p80">
          <span>80%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">angular</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p85">
          <span>85%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">bootstrap</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p70">
          <span>70%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">sass</h6>
      </div>
      <div class="col-6 col-md-3 mb-3 mb-sm-5">
        <div class="c100 p90">
          <span>90%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <h6 class="text-uppercase text-center mt-2 mt-sm-4">git&github</h6>
      </div>
    </div>
    <hr class="seprator mt-1" />
    <div class="row">
      <div class="col-12">
        <h3
          class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-start text-sm-center custom-title ft-wt-600"
        >
          education <span>&</span> experience
        </h3>
      </div>
      <div class="col-lg-6">
        <div class="resume-box">
          <ul>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">2015-2020</span>
              <h5 class="text-uppercase">
                electronics & commuications enginneering @ alexandria higher
                institute of engineering and technology
              </h5>
              <p class="text-capitalize">
                bachelor degree in electronics & commuications enginneering.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">2022-present</span>
              <h5 class="text-uppercase">frontend-development(angular)</h5>
              <p class="text-capitalize">
                self study (online courses) =><br />
                --elzero web school. <br />--angular army. <br />--Angular - The
                Complete Guide (2023 Edition) by Maximilian.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">1/2019-2/2019</span>
              <h5 class="text-uppercase">intenship student</h5>
              <p class="text-capitalize">
                alexandria electricity distribution company =><br />--studied
                the maintenance of electronics components.
                <br />
                --practice on air soldering.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">8/2019-9/2019</span>
              <h5 class="text-uppercase">intenship student</h5>
              <p class="text-capitalize">
                alexandria shipyard company =><br />--studied the idea of
                working of cranes & how plc control its working. <br />--studied
                the electrical distribution of the ships. <br />
                --studied the means of communication between the ships.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="resume-box">
          <ul>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">9/2022-10/2022</span>
              <h5 class="text-uppercase">angular dash-board</h5>
              <p class="text-capitalize">
                self study angular project =><br />--using of angular components
                to create spa. <br />--create crud system using local storage
                <br />
                --implement the use of angular guard to prevent the user from
                entering pages without signing in.
                <br />
                --using angular reactive forms to make register and login forms
                <br />
                --using of angular services & angular material.
                <br />
                --using bootstrap framework to make a responsive design.
                <br />
                --using sweet alert to interact with the user.
              </p>
            </li>
            <li>
              <div class="icon">
                <i class="bi bi-briefcase-fill"></i>
              </div>
              <span class="text-uppercase time">10/2022-11/2022</span>
              <h5 class="text-uppercase">angular e-commerce</h5>
              <p class="text-capitalize">
                self study angular project =><br />--using of angular components
                to create spa. <br />--create crud system using local storage
                <br />
                --implement the use of angular guard to prevent the user from
                entering pages without signing in or access admin pages.
                <br />
                --implement the use of angular guard to prevent the admin from
                entering pages without signing in or access user pages.
                <br />
                --using of angular services and angular material.&& using
                localstorage to save user's data then bind it into the profile
                page.
                <br />
                --using angular reactive forms to make register and login forms
                <br />
                --using fakestore-api to fetch data and display it in a form of
                4 categorioes so that the user can add products to the his cart.
                <br />
                --using fakestore-api to fetch admin data and display it on
                admin's pannel so that the admin can view user's orders, add,
                delete & update products.
                <br />
                --using formcarry's api to post an email form in contact-us page
                to make the user be able to send a direct message.
                <br />
                --using bootstrap framework to make a responsive design.
                <br />
                --using sweet alert to interact with the user.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
