<section class="home d-flex align-items-center">
  <div class="container-fluid">
    <div class="row ps-lg-5">
      <div
        style="
          background-image: url('assets/images/70381396_2451827838245673_8860728676535238656_n.png');
        "
        class="col-lg-4 pic d-none d-lg-block"
      ></div>
      <div
        class="col-lg-8 d-flex align-items-center flex-column flex-lg-row mb-5"
      >
        <img
          class="img-fluid d-sm-block d-lg-none mobile-img"
          src="assets/images/70381396_2451827838245673_8860728676535238656_n.png"
          alt="profile"
        />
        <div class="content">
          <h1 class="text-uppercase">
            i'm sameh soliman. <br />
            <span>frontend developer</span>
          </h1>
          <p class="intro text-capitalize lh-lg">
            I'm an egyption front‑end developer focused on crafting clean &
            user‑friendly experiences, I am passionate about building excellent
            websites that improves the lives of those around me.
          </p>
          <button (click)="openDialog()">
            <span class="button-text text-uppercase">more about me</span>
            <span class="button-icon bi bi-arrow-right-short"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="color d-lg-block d-none"></div>
</section>
